<section class="footer py-5">
    <div class="container">
        <div class="row text-center pt-4">
            <div class="col-md-4">
                <h3>LOCATION</h3>
                <p>2215 John Daniel Drive </p>
                <p>Clark, MO 65243 </p>
            </div>

            <div class="col-md-4">
                <h3>AROUND THE WEB </h3>
                <div class="media ">
                    <i class="fa-brands fa-facebook icon-border text-center pt-2 mx-1"></i>
                    <i class="fa-brands fa-twitter icon-border text-center pt-2 mx-1"></i>
                    <i class="fa-brands fa-linkedin icon-border text-center pt-2 mx-1"></i>
                    <i class="fa-solid fa-globe icon-border text-center pt-2 mx-1"></i>
                </div>
            </div>

            <div class="col-md-4">
                <h3>ABOUT FREELANCER </h3>
                <p>Freelance is a free to use, licensed Bootstrap theme created 
                    by Route
                </p>

            </div>

        </div>
    </div>
</section>
<div class="foot py-3">
    <p class="text-center">Copyright © Your Website 2021</p>
</div>